<app-navbar></app-navbar>
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-4 col-md-4">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <span id="error"></span>
                                    <h1 class="h4 text-gray-900 mb-4"></h1>
                                </div>
                                <form method="post" >
                                    <div class="container">
                                        <h2 class="text-center">Veuillez choisir un pays</h2>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="item"><a routerLink="egypt" class="btn xul"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Egypt.svg/1200px-Flag_of_Egypt.svg.png" class="img-thumbnail" style="height:30vh; width:400px"></a></div>
                                                
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="item"><a routerLink="usa" class="btn xul"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/a/a4/Flag_of_the_United_States.svg/1200px-Flag_of_the_United_States.svg.png" class="img-thumbnail" style="height:30vh ; width:400px"></a></div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>